* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.container {
    width: 500px ;
    margin: 30px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;;
    align-items: center;
}

b {
    font-size: 25pt;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.text {
    font-size: 40pt;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    border-radius: 30px;
    flex-direction: row;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 243px;
    height: 243px;
    border: 4px solid black;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slider-line {
    height: 236px;
    width: 1652px;
    display: flex;
    position: relative;
    transition: 0.5s ease 0s;
}

.btn {
    width: 60px;
    height: 60px;
    background: #a796e1;
    font-size: 20pt;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease 0s;
}

.btn:hover {
    background-color: #634fa1;
    border-radius: 20px;
    transition: 0.5s ease 0s;
}

.btn:active {
    background-color: #7c67b9;
    border-radius: 10px;
    transition: 0.2s ease 0s;
}

#b-next {
    position: relative;
    left: 2px;
}

#b-right {
    position: relative;
    right: 2px;
}


